*{
    margin: 0;
    padding: 0;
    font-family: sans serif;
}
.banner{
    width: 100%;
    min-height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://cdn.pixabay.com/photo/2014/06/06/15/08/olympic-stadium-363477__480.jpg);
    background-size: cover;
    background-position: center;
}
.kontakt-banner {
     width: 100%;
     background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://media.istockphoto.com/id/479842074/sv/foto/empty-road-at-building-exterior.jpg?b=1&s=170667a&w=0&k=20&c=NCJ0OfQnpaZNwt1RKRDCGI_RPyLuuVJZopDicL3TqT0=);
     background-size: cover;
     background-position: center; 
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase ;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgba(0, 128, 0, 0.379);;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    margin-top: 150px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: #fff solid;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.button a {
    text-decoration: none;
    color: #fff;
}
span{
    background: rgba(0, 128, 0, 0.379);;
    height: 100;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
.secondnav{
    width: 85%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: flex-end
}
.secondnav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.secondnav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase ;
}
.secondnav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgba(0, 128, 0, 0.379);;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.secondnav ul li:hover::after{
    width: 100%;
}
.cards{
    margin: 100px;
    color: #fff;
    display: flex;
}
.syfte{
    color: #fff;
    width: 100%;  
    top: 100%;
    text-align: center;
}
#kvalite{
    width: 100px;
    height: 45px;
    background-color: rgba(0, 128, 0, 0.379);
    border: none;
    margin-bottom: 200px;
}
.produkt{
    width: 100%;
    top: 50%;
    text-align: center;
    color: #fff;
}
.kontakt{
    width: 100%;
    text-align: center;
    color: #fff;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #fff;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  input[type=submit] {
    background-color: #fff;
   color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: rgba(255, 255, 255, 0.459);
  }
  .container {
    border-radius: 5px;
    background-color: rgba(0, 128, 0, 0.379);
    padding: 20px;
    margin-bottom: 20px;
  }
  #ämne{
    color: grey;
  }

  #ämne option {
    color:black;
  }
  .star {
    width: 32px;
    height: 32px;
    transition: .6s all;
  }
  #rating {
    cursor: pointer;
    display: inline-block
  }
  #review-form .input-group-addon {
    min-width: 100px;
  }
  #review-form .btn {
    min-width: 100px;
  }
  #review-form input[type="text"],
  #review-form textarea {
    width: 100%;
  }
  #review-form .form-group {
    margin-bottom: 15px;
  }
  #review-form .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  blockquote {
    border-left: 5px solid #fff;
    padding-left: 20px;
  }
  
  blockquote .footer{
    display: block;
    font-size: 80%;
  }

  .stars-container {
    margin-bottom: 5px;
  }